Webpack (imports/exports)
  Babel
  Scss
  Eslint
  2 Modes
    - dev
      Dev Server, SourceMaps, Eslint, Not Minified JS and CSS
    - prod
      Minified Code
Git

  Production
    1.0.0
    0 -----------
  Development
    1.0.2
    1 ------------- + ---  Pool request
    2 ---------------- |
